[submodule "vim/vim-light/pack/default/start/vim-polyglot"]
	path = vim/vim-light/pack/default/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/vim-light/pack/default/start/papercolor-theme"]
	path = vim/vim-light/pack/default/start/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/vim-light/pack/default/start/vim-surround"]
	path = vim/vim-light/pack/default/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/vim-light/pack/default/start/vim-fugitive"]
	path = vim/vim-light/pack/default/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/vim-light/pack/default/start/vim-commentary"]
	path = vim/vim-light/pack/default/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
